.devcontainer.json
.devenv/
.idea/
.pre-commit-config.yaml
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.operaton-scripts/
/result
__pycache__/
dependency-reduced-pom.xml
devenv.local.nix
devenv.local.yaml
docs/
log.html
node_modules/
operaton-remote.port
output.xml
report.html
target/
tmp/
