<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%nopex</pattern>
    </encoder>
  </appender>

  <root level="${OPERATON_LOG_LEVEL:-WARN}">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
